#cartpage img{
    width: 150px;
}
#cartpage{
    width: 85%;
    height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#cartpage div{
    margin: 10px;
    text-align: center;
    padding: 20px;

}
.maindiv{
    border: 1px solid black;
    border-radius: 2px;
}
.cart{
    display: flex;
    align-items: center;
}
#btn{
    width: 15%;
    height: 100vh;
    border: 1px solid black;
    padding: 40px;
}
button{
    padding: 8px 12px;
    border-radius: 5px;
}